.searchContent {
    padding: 20px 0;
}
.formBody{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    & :first-child {
        width: 100%;
        max-width: 800px;
        box-sizing: border-box;
        position: relative;
    }
    & .options {
        margin-left: 30px;
    }
}
@media screen and (max-width:450px) {
    .formBody{
        & .options {
            margin-left: 10px;
        }
    }
}