.searchContent {
    padding: 20px 0;
}
.formBody{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    & :first-child {
        width: 100%;
        max-width: 800px;
        box-sizing: border-box;
        position: relative;
    }
    & .options {
        margin-left: 30px;
    }
}
.searchInput {
    display: inline-flex;
    & input {
        width: 100%;
        max-width: 800px;
        height: 50px;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.5px;
        border: 2px solid #000;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        outline: none;
    }
    & button {
        width: 80px;
        height: 50px;
        font-size: 30px;
        line-height: 45px;
        cursor: pointer;
        background-color: #fff951;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.autocompleteContainer {
    border: 1px solid #000;
    margin-top: 10px;
    position: absolute;
    z-index: 5;
    width: 100%;
    max-width: 800px;
    & li {
        list-style: none;
        padding-left: 10px;
        font-size: 20px;
        margin: 10px 0;
        cursor: pointer;
        &:hover{
            color: #ffffff;
            background-color: #003fb4;
        }
    }
}