.loading {
    display: grid;
    place-items: center;
    height: 100vh;
}

.ldsElipsis {
    width: 150px;
    height: 25px;
    position: relative;
    display: inline-block;
    & div {
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: linear-gradient(#0057b7, #ffd700);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        &:nth-child(1){
            left: 16px;
            animation: lds-ellipsis1 0.7s infinite;
        }
        &:nth-child(2) {
            left: 16px;
            animation: lds-ellipsis2 0.7s infinite;
        }
        &:nth-child(3) {
            left: 64px;
            animation: lds-ellipsis2 0.7s infinite;
        }
        &:nth-child(4) {
            left: 112px;
            animation: lds-ellipsis3 0.7s infinite;
        }
    }
}

@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1) translate(0, 0);
    }
    100% {
      transform: scale(0) translate(78px, 0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(48px, 0);
    }
  }